{% extends "layout.html" %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<div class="registration-form">
    <form method="POST"> 
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email(class="form-control item", placeholder="Email") }}
        </div>
        <div class="form-group">
            {% if form.password.errors %}
            {{ form.password(class="form-control item is-invalid", placeholder="Password") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form.password(class="form-control item", placeholder="Password") }}
            {% endif %}
            <div class="form-check">
                <p>{{form.remember}} Remember Me</p>
            </div>
        </div>
        <div class="form-group" id="create-account">
            {{ form.submit(class="btn btn-block", style="color: white;") }}
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot your password?</a>
        </small>
    </form>
    <div class="border-bottom pt-0">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{ url_for('signup') }}">Sign up</a>
        </small>
    </div>
{% endblock content %}
